@charset "utf-8";

.agency_dd{float:left;}
.advertiser_dd{margin-left: 4%;float:left;}
.advertiser_time_main{/* width: 130px; */ float: left; margin-left:20px;}
.advertiser_time_heading{color: #D1D1D1; font-size: 10px; font-weight: normal; margin-bottom: 7px; margin-left: 10px;}
.advertiser_time_data{font-size: 16px; font-weight: bold; color: #F0F0F0; margin-left: 10px;}

.dd_div_heading{color:#D1D1D1;font-size: 10px;font-weight: normal;margin-bottom: 7px;margin-left:10px;}

.dd_selected{font-weight:bold;font-size:20px;}
.dd_div{display:inline;float:left;margin-left:10px;}
.go_button{ 
	 background-color: #00438D;
    background-image: -moz-linear-gradient(center top , #006AAC, #00438D);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
    cursor: pointer;
    float: right;
    height: 30px;
    text-align: center;
    width: 40px;
    }
