
#placementTable tr td {
  	padding-left:1%;
  	padding-right:1%;
  	padding-top:1%;
  	padding-bottom:1%;
}

#placementTable th {
  	padding-left:1%;
  	padding-right:1%;
  	padding-top:1%;
  	padding-bottom:1%;
}