<div
	data-ng-repeat="campaign in campaigns | filter:searchCampaign | orderBy:predicate:reverse"
	class="campaignGridBox well-sm">
		<div class="container-fluid">
			<div class="row-fluid">
				<div class="col-md-12 col-xs-12 col-sm-12 col-lg-12" style="text-align: right">
					<span class="glyphicon glyphicon-bell" data-ng-click="showPopUp(campaign)"></span>
				</div>
			</div>
			<div class="row-fluid" style="cursor:pointer;cursor:hand;" data-ng-click="getCampaignDetails(campaign.advertiserId, campaign.id)">
				<div class="col-md-12 col-xs-12 col-sm-12 col-lg-12 campaignNameTruncate" style="text-align: center" title="{{ campaign.name }}">{{ campaign.name }}</div>
			</div>
			<div class="row-fluid">
				<div class="col-md-6 col-xs-6 col-sm-6 col-lg-6">Impression</div>
				<div class="col-md-6 col-xs-6 col-sm-6 col-lg-6">{{ campaign.impression | number}}</div>
			</div>
			<div class="row-fluid">
				<div class="col-md-6 col-xs-6 col-sm-6 col-lg-6">Clicks</div>
				<div class="col-md-6 col-xs-6 col-sm-6 col-lg-6">{{ campaign.click | number }}</div>
			</div>
			<div class="row-fluid">
				<div class="col-md-6 col-xs-6 col-sm-6 col-lg-6">CTR</div>
				<div class="col-md-6 col-xs-6 col-sm-6 col-lg-6">{{ campaign.ctr }}</div>
			</div>
			<div class="row-fluid">
				<div class="col-md-6 col-xs-6 col-sm-6 col-lg-6">Spend</div>
				<div class="col-md-6 col-xs-6 col-sm-6 col-lg-6">{{ campaign.spend | currency }}</div>
			</div>
			<div class="row-fluid">
				<div class="col-md-6 col-xs-6 col-sm-6 col-lg-6">Pacing</div>
				<div class="col-md-6 col-xs-6 col-sm-6 col-lg-6">{{ campaign.pacing | number }}%</div>
			</div>
		</div>
</div>
