<?xml version="1.0" encoding="utf-8" standalone="no"?><web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  
    <filter>
		<filter-name>struts2-gae</filter-name>
		<filter-class>com.struts2.gae.dispatcher.GaeFilterDispatcher</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>struts2-gae</filter-name>
		<url-pattern>*.lin</url-pattern>
	</filter-mapping>
	<listener>
		<listener-class>com.struts2.gae.listener.OgnlListener</listener-class>
	</listener>

  <filter>
  	<filter-name>appstats</filter-name>
    <filter-class>com.google.appengine.tools.appstats.AppstatsFilter</filter-class>
    <init-param>
	      <param-name>maxLinesOfStackTrace</param-name>
	      <param-value>16</param-value>
    </init-param>
  </filter>
		
 <servlet>
   <servlet-name>GoogleLoginOAuthIndexServlet</servlet-name>
   <servlet-class>com.lin.web.servlet.GoogleLoginIndexServlet</servlet-class>
 </servlet>

 <servlet-mapping>
   <servlet-name>GoogleLoginOAuthIndexServlet</servlet-name>
   <url-pattern>/GoogleLoginOAuthIndexServlet</url-pattern>
 </servlet-mapping>
 
 <servlet>
   <servlet-name>googleLoginCallbackServlet</servlet-name>
   <servlet-class>com.lin.web.servlet.GoogleLoginCallbackServlet</servlet-class>
 </servlet>

 <servlet-mapping>
   <servlet-name>googleLoginCallbackServlet</servlet-name>
   <url-pattern>/googleLoginCallback</url-pattern>
 </servlet-mapping>
	
  <servlet>
  <servlet-name>SystemServiceServlet</servlet-name>
  <servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
  <init-param>
   <param-name>services</param-name>
   <param-value/>
  </init-param>
 </servlet>
 <servlet-mapping>
  <servlet-name>SystemServiceServlet</servlet-name>
  <url-pattern>/_ah/spi/*</url-pattern>
 </servlet-mapping>
 
 <servlet>
    <servlet-name>OauthClient</servlet-name>
    <servlet-class>com.lin.web.servlet.OAuthServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>OauthClient</servlet-name>
    <url-pattern>/oauthIndex.do</url-pattern>
  </servlet-mapping>
  
 <servlet>
    <servlet-name>callback</servlet-name>
    <servlet-class>com.lin.web.servlet.CallbackServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>callback</servlet-name>
    <url-pattern>/oauth2callback</url-pattern>
  </servlet-mapping>
  
  <servlet>
        <servlet-name>CloudBigQueryAuth</servlet-name>
        <servlet-class>
            com.lin.web.gaebigquery.CloudBigQueryAuth
        </servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CloudBigQueryAuth</servlet-name>
        <url-pattern>/storeToBigQuery.do</url-pattern>
    </servlet-mapping>
 
  <servlet>
   <servlet-name>ZipServlet</servlet-name>
   <servlet-class>com.lin.web.servlet.StorageSample</servlet-class>
 </servlet>

 <servlet-mapping>
   <servlet-name>ZipServlet</servlet-name>
   <url-pattern>/testZipFile.do</url-pattern>
 </servlet-mapping>
 
  <session-config>
      <session-timeout>1440</session-timeout> 
  </session-config>
	<welcome-file-list>
	    <welcome-file>index.jsp</welcome-file>		
	</welcome-file-list>
</web-app>